<h2>Edit Patient</h2>
<form *ngIf="!isUpdate || patient; else loading" class="form-signin" #loginForm="ngForm" (ngSubmit)="registUser(loginForm, file.files)">
    <div class="registrationbox col-sm-8">
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
        <div *ngIf="!uniqueName" class="alert alert-danger">User Name is invalid or already in use.</div>
        <h4 for="userName">Username</h4>
        <input type="text" id="userName" name="userName" ngModel = {{patient?.userName}} class="form-control" placeholder="User Name" required autofocus>
        <br/>
        <h4 for="nativeName" >Native Name</h4>
        <input type="text" id="nativeName" name="nativeName" ngModel = {{patient?.nativeName}} class="form-control" placeholder="Native Name" required>
        <br/>
        <div *ngIf="passwordIsEnabled then passwordEnabled; else passwordDisabled"></div>
        <ng-template #passwordEnabled>
            <div *ngIf="passwordToShort(password.value)" class="alert alert-danger">Passwords must be at least 8 character</div>
            <h4 for="password" >Password</h4>
            <input #password type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
            <br/>
            <div *ngIf="passwordNotMatch(password.value, repassword.value)" class="alert alert-danger">Passwords are not matching</div>
            <h4 for="repassword" >Password Again</h4>
            <input #repassword type="password" id="repassword" name="repassword" ngModel class="form-control" placeholder="Password Again" required>     
            <div *ngIf="isUpdate">
                <br/>
                <a class="btn btn-lg btn-info text-white btn-block" (click)="invertPasswordVisibility()">Disable password reset</a>
            </div>
        </ng-template>
        <ng-template #passwordDisabled>
            <a class="btn btn-lg btn-info text-white btn-block" (click)="invertPasswordVisibility()">Enable password reset</a>
        </ng-template>
        <br/>
        <div *ngIf="!emailIsValid(email.value)" class="alert alert-danger">Email should look like: account@company.domain</div>
        <h4 for="email" >Email Address</h4>
        <input #email type="email" id="email" name="email" ngModel = {{patient?.email}} class="form-control" placeholder="Email Address" required>
        <br/>
        <h4 for="gender" >Gender</h4>
        <div *ngIf="isUpdate then genderForUpdate; else genderForCreate"></div>
        <ng-template #genderForUpdate>
            <select id="gender" name="gender" ngModel = {{patient?.gender}} class="form-control" required>
                <option value="male">Male</option>
                <option value="felmale">Female</option>
            </select>
        </ng-template>
        <ng-template #genderForCreate>
            <select id="gender" name="gender" ngModel class="form-control" required>
                <option value="" selected disabled hidden>Gender</option>
                <option value="male">Male</option>
                <option value="felmale">Female</option>
            </select>
        </ng-template>
        <br/>
        <h4 for="birthday" >Birthday</h4>
        <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="birthday" name="birthday" ngModel = {{getDate(patient?.birthday)}} class="form-control" placeholder="Birthday" required>
        <br/>
        <h4 for="weight" >Weight (kg)</h4>
        <input type="number" id="weight" name="weight" ngModel = {{patient?.weight}} class="form-control" placeholder="Weight (kg)" required>
        <br/>
        <h4 for="country" >Country</h4>
        <input type="text" id="country" name="country" ngModel = {{patient?.country}} class="form-control" placeholder="Country" required>
        <br/>
        <h4 for="city" >City</h4>
        <input type="text" id="city" name="city" ngModel = {{patient?.city}} class="form-control" placeholder="City" required>
        <br/>
        <h4 for="postalCode" >Postal Code</h4>
        <input type="text" id="postalCode" name="postalCode" ngModel = {{patient?.postalCode}} class="form-control" placeholder="Postal Code" required>
        <br/>
        <h4 for="address" >Address</h4>
        <input type="text" id="address" name="address" ngModel = {{patient?.address}} class="form-control" placeholder="Address" required>
        <br/>
        <h4 for="medicalReport" class="sr-only">Medical Report</h4>
        <div *ngIf="!fileIsSelected(file.files)" class="alert alert-warning">Medical report is not choosen</div>
        <input #file type="file" accept=".zip,.rar,.7zip" id="file" name="file" placeholder="Browse Medical Report" class="hide">
        <a class="btn btn-lg btn-info text-white btn-block" (click)="file.click()">Browse Medical Report</a>
        <br/>
        <a class="btn btn-lg btn-danger text-white btn-block col-sm-3 cancel" (click)="location.back()">Cancel <fa-icon [icon]="['fas', 'ban']"></fa-icon></a>
        <button class="btn btn-lg btn-success btn-block col-sm-3 save" type="submit">Save <fa-icon [icon]="['far', 'save']"></fa-icon></button>
    </div>
</form>
<ng-template #loading>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>