@import '../../styles.scss';

.registrationbox{
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

.hide{
    display: none;
}

.save{
    float: right;
}

.cancel{
    float: left;
    margin: 8px 10px 10px 0;
}