@import '../../styles.scss';

.modal-body, .modal-header, .modal-footer {
    background-color: #d9e3e8;
}

.hide{
    display: none;
}

$scale: 1.5;

input[type=checkbox]
{
  -ms-transform: scale($scale); /* IE */
  -moz-transform: scale($scale); /* FF */
  -webkit-transform: scale($scale); /* Safari and Chrome */
  -o-transform: scale($scale); /* Opera */
  transform: scale($scale);
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}