<h2>Apply to appintments</h2>
<br/>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<a (click)="showDoctors()" class="btn btn-lg btn-primary text-white btn-block">Select doctors for available appointments</a>
<br/>
<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-info text-white" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Previous</div>
            <div class="btn btn-dark text-white" mwlCalendarToday [(viewDate)]="viewDate">Today</div>
            <div class="btn btn-info text-white" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">Next</div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-info text-white" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">Month</div>
            <div class="btn btn-info text-white" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">Week</div>
            <div class="btn btn-info text-white" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Day</div>
        </div>
    </div>
</div>
<br />
<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="(eventsObservable | async | formatAppointmentEvents: actions)" 
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" [weekStartsOn]="1" (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="(eventsObservable | async | formatAppointmentEvents: actions)" [refresh]="refresh" [weekStartsOn]="1" [dayStartHour]="6" [dayEndHour]="21"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="(eventsObservable | async | formatAppointmentEvents: actions)" [refresh]="refresh" [dayStartHour]="6" [dayEndHour]="21"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>
<ng-template #loading>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #selectDoctors let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Select Doctors</h5>
        <button type="button" class="btn btn-danger text-white btn-block col-sm-1" (click)="close()"><fa-icon [icon]="['fas', 'times']" ></fa-icon></button>
    </div>
    <div class="modal-body">
        <input #filter type="text" id="filter" name="filter" ngModel class="form-control" (change)="filterDoctors(filter.value)" placeholder="Filter">
        <br/>
        <select *ngIf="doctorsObservable | async as doctors; else loading" #doctorsSelect id="doctorsSelect" name="doctorsSelect" (change)="changeDoctors(doctorsSelect)" size="10" ngModel class="form-control" multiple>
            <optgroup *ngFor="let group of (doctors | formatDoctors)" label="{{ group.key }}">      
                <option *ngFor="let doctor of group.doctors" value="{{doctor.id}}">{{ doctor.name }}</option>
            </optgroup>
        </select>
        <ng-template #loading>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary text-white btn-block col-sm-2" (click)="close(); updateDoctorsAppointment()">OK</button>
    </div>
</ng-template>

<ng-template #applyToAppointment let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Apply to appintment</h5>
        <button type="button" class="btn btn-danger text-white btn-block col-sm-1" (click)="close()"><fa-icon [icon]="['fas', 'times']" ></fa-icon></button>
    </div>
    <div class="modal-body">
        <h5 for="description">Short description</h5>
        <textarea #description id="description" name="description" ngModel="{{storedDescription}}" class="form-control" placeholder="Description" clos="50" rows="10"></textarea>
        <br/>
        <label for="medicalReport" class="sr-only">Medical Report</label>
        <div *ngIf="!fileIsSelected(file.files)" class="alert alert-warning">Medical report is not choosen</div>
        <input #file type="file" accept=".zip,.rar,.7zip" id="file" name="file" placeholder="Browse Medical Report" class="hide">
        <a class="btn btn-lg btn-info text-white btn-block" (click)="file.click()">Browse Medical Report</a>
        <br/>
        <h5><input #preferOnline type="checkbox" id="preferOnline" name="preferOnline"> Prefer online examination.</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success text-white btn-block col-sm-2" (click)="close({preferOnline: preferOnline.checked, description: description.value, files: file.files})">Apply</button>
    </div>
</ng-template>

<ng-template #applicationSuccess let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Apply to appintment</h5>
        <button type="button" class="btn btn-danger text-white btn-block col-sm-1" (click)="close()"><fa-icon [icon]="['fas', 'times']" ></fa-icon></button>
    </div>
    <div class="modal-body">
        <p>
            Application was successfull, but the doctor still need to accept it.
            You can check the application's status under the Applications menu.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success text-white btn-block col-sm-2" (click)="close()">Ok</button>
    </div>
</ng-template>

<ng-template #applicationFailure let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Apply to appintment</h5>
        <button type="button" class="btn btn-danger text-white btn-block col-sm-1" (click)="close()"><fa-icon [icon]="['fas', 'times']" ></fa-icon></button>
    </div>
    <div class="modal-body">
        <p>Application was unsuccessfull. The selected appointment got occupied meanwhile.</p>
        <p>By clicking to save button you can temprarly can store your description and load to the new appointment.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success text-white btn-block col-sm-2" (click)="close(true)">Save</button>
        <button type="button" class="btn btn-danger text-white btn-block col-sm-2" (click)="close(false)">Leave</button>
    </div>
</ng-template>