<div class='main-nav col-sm-2'>
    <ul id="main-ul">
        <li>
            <h3><fa-icon [icon]="['far', 'user']"></fa-icon> User</h3>
            <ul>
                <li><a routerLink="{{ getPersonalRoute() }}"><h5><fa-icon [icon]="['far', 'id-card']"></fa-icon> Personal Settings</h5></a></li>
                <li *ngIf="userIsPatientOrAdmin()"><a routerLink="patients/apply-to-appointment"><h5><fa-icon [icon]="['far', 'calendar-check']"></fa-icon> Make appointment</h5></a></li>
            </ul>
        </li>
        <li *ngIf="userIsDoctorOrAdmin()">
            <h3><fa-icon [icon]="['fas', 'user-md']"></fa-icon> Doctor</h3>
            <ul>
                <li *ngIf="userIsPatientOrAdmin()"><a routerLink="patients/apply-to-appointment"><h5><fa-icon [icon]="['far', 'calendar-alt']"></fa-icon> Manage appointments</h5></a></li>
            </ul>
        </li>
        <li *ngIf="userIsAdmin()">
            <h3><fa-icon [icon]="['fas', 'user']"></fa-icon> Admin</h3>
            <ul>
                <li><a routerLink="patients/handle-registration-requests"><h5><fa-icon [icon]="['fas', 'user-shield']"></fa-icon> Registration Requests</h5></a></li>
                <li><a routerLink="patients"><h5><fa-icon [icon]="['fas', 'users']"></fa-icon> Patients</h5></a></li>
                <li><a routerLink="doctors"><h5><fa-icon [icon]="['fas', 'user-md']"></fa-icon> Doctors</h5></a></li>
                <li><a routerLink="pharmacies"><h5><fa-icon [icon]="['fas', 'clinic-medical']"></fa-icon> Pharmaciest</h5></a></li>
            </ul>
        </li>
	</ul>
	<div id="home" ><a routerLink=""><h3><fa-icon [icon]="['fas', 'home']"></fa-icon></h3></a></div>
    <div id="infos"><a id="logout" (click)="logout()"><h3><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon></h3></a></div>
</div>