::placeholder{
    color:#b8cbd3;
}

.btn-primary{
    background: #496a7a;
    border-color: #6992a5;
}

.form-control{
    background: #496a7a;
    color: aliceblue;
    border-color: #b8cbd3;
}

.main-back{
    background-color: #d9e3e8;
	height: 100vh;
	padding: 0;
}

a{
	text-decoration: none;
}

h1, h2, h5, p, i{
    color: #212529;
}

thead{
	background: #6992a5;
}

button{
	color: aliceblue;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#background{
	background-color: #d9e3e8;
	padding: 10px;
}