@import '../../styles.scss';

.registrationbox{
    width: 400px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50px;
    margin: 0 0 50px -200px;
    padding: 20px;
    border-radius: 5px;
    color: aliceblue;
    background: #6992a5;
}

.thanksbox{
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 20px;
    border-radius: 5px;
    color: aliceblue;
    background: #6992a5;
}

.hide{
    display: none;
}