<div *ngIf="isUserAuthenticated(); then authBlock; else nonAuthBlock" class='container-fluid'></div>
<ng-template #authBlock>
    <div class="row no-padding">
        <div class = 'col-sm-2 no-padding'>
            <app-nav></app-nav>
        </div>
        <div class = 'col-sm-10'>
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>
<ng-template #nonAuthBlock>
    <div *ngIf="isRegistration(); then registrationBlock; else loginBlock" class='container-fluid'></div>
    <ng-template #registrationBlock>
        <app-patient-registration></app-patient-registration>
    </ng-template>
    <ng-template #loginBlock>    
        <app-login></app-login>
    </ng-template>
</ng-template>